.container {
  height: 100%;
  width: 100%;
}

.background-img {
  width: 100vw;
  height: 100vh;
  z-index: -1;
}
@media (max-width: 600px) {
  .background-img {
    display: none;
  }
}

.mobile-img {
  display: none;
}
@media (max-width: 600px) {
  .mobile-img {
    display: block;
    width: 100vw;
    height: 100vh;
    z-index: -1;
  }
}

.text {
  position: absolute;
  z-index: 100;
  top: 140%;
  left: 12%;
}

.text h1 {
  font-size: 4rem;
  font-family: Arial, Helvetica, sans-serif;
}

.text p {
  font-size: 1.4rem;
  width: 40%;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 35px;
}

@media (max-width: 600px) {
  .text p {
    width: 80%;
  }
}
